$namespace: 'my'!default;
$state-prefix: 'is-'!default;
$modifier-separator: '--'!default;

$theme-color: rgb(64, 158, 255);
$black: black!default;
$white: white!default;
$theme: (
    primary: rgb(64, 158, 255),
    success: rgb(103, 194, 58),
    warning: rgb(230, 162, 60),
    danger: rgb(245, 108, 108),
    info: rgb(144, 147, 153)
)!default;

$word-color-default: #606266!default;
$border-color-default: #ebebeb!default;
$border-color-emphasize:#dcdfe6!default;

$padding-default: 12px!default;
$margin-default: 12px!default;

$border-radius: (
    mini: 5px,
    round: 20px,
    circle: 50%
)!default;

$padding-button: (
    large: 12px 20px,
    medium: 10px 15px,
    small: 9px 10px,
    mini: 7px 7px
)!default;

$padding-button-circle: (
    large: 11px,
    medium: 9px,
    small: 7px,
    mini: 5px
)!default;

$box-shadow: (
    none: none,
    normal: 0 2px 12px 0 rgba(0,0,0,.1),



    // todolist: 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f6f6f6,
    //             0 9px 1px -3px rgba(0, 0, 0, 0.2),0 16px 0 -6px #f6f6f6, 
    //             0 17px 2px -6px rgba(0, 0, 0, 0.2)

)!default;