@import '../../theme/minixs.scss';

@include name(checkbox) {
    position:relative;
    input[type=checkbox] {
        display:none;
    }

    @include type(checkbox, input) {
        display: inline-block;
        height: 14px;
        width: 14px;
        border-radius: 2px;
        position:relative;
        border:2px solid $border-color-emphasize;
        vertical-align: middle;
        cursor:pointer;
        margin-right: 5px;

        &::before, &::after {
            content:'';
            position:absolute;
            border-radius: 1px;
            height: 0;
            width: 2px;
            background-color: $theme-color;
            display:inline-block;
            transform-origin:left top;
        }

        &::before {
            top: 9px;
            left: 5px;
            box-shadow:0 0 0 1px #fff;
            transform: rotate(225deg);
        }

        &::after {
            top: 5px;
            left: 0px;
            transform: rotate(-45deg);
        }
    }

    input[type=checkbox]:checked + span,.my-checkbox--input.checked  {
        border-color: $theme-color;
    }

    input[type=checkbox]:checked + .my-checkbox--input::after,.my-checkbox--input.checked::before {
        height: 6px;
        transition: 0.4s height;
    }

    input[type=checkbox]:checked + .my-checkbox--input::before,.my-checkbox--input.checked::after {
        height: 15px;
        transition: 0.4s 0.2s height;
    }

    @include type(checkbox, label) {
        vertical-align: middle;
    }
}